DB_HOST=db
DB_PORT=3306
DB_USER=appuser
DB_PASSWORD=app1234
DB_NAME=telco_churn_db

MYSQL_ROOT_PASSWORD=root1234
MYSQL_DATABASE=telco_churn_db
MYSQL_USER=appuser
MYSQL_PASSWORD=app1234

MODEL_API_URL=http://model_api:8001